.showbuttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 10px;
}

.jobcontainer {
    border: 1px solid black;
    border-radius: 3px;
    max-width: 200vh;
    padding: 5px;
    margin: 100px auto;
    background-color: rgb(223, 230, 233);
    overflow-wrap: break-word;
    width: 90%;
}

.updatecontainer {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.crudbuttons {
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 556px){
    .jobcontainer {
        width: 90%;
    }
}