* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #045D5D;
  color: white;
  text-decoration: none;
  font-size: 3rem;
}

.nav-link:visited {
  text-decoration: none;
  color: white;
}

.job-container {
  display: flex;
  flex-wrap: wrap;
}

.job {
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  height: 30vh;
  width: 50vh;
  border-radius: 6px;
}

.search-feature{
  display: flex;
  width: 30vh;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.search-bar{
  width: 30vh!important;
  height: 5vh!important;
  margin: 10px;
}

#search {
  margin: 0 5px;
}
