* {
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #033b3b;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  width: 100%;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 5;
}

.nav-link:visited {
  text-decoration: none;
  color: white;
}

.job-container {
  display: flex;
  flex-wrap: wrap;
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  justify-self: stretch;
}

.job {
  border: 2px solid black;
  margin: 10px auto;
  padding: 5px;
  max-height: 20vh;
  max-width: 35vh;
  width: 50vh;
  border-radius: 6px;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-feature{
  display: flex;
  width: 30vh;
  max-height: 10vh;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 100px;
  grid-column: 3 / span 2;
  grid-row-start: 2;
  justify-self: start;
}

.search-bar{
  width: 30vh!important;
  height: 5vh!important;
  margin: 10px;
}

#search {
  margin: 0 5px;
}
